<mat-tab-group dynamicHeight>
  <mat-tab label="Все параметры">
    <ng-template matTabContent>
      <app-parameters-list></app-parameters-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Выбранные">
    <ng-template matTabContent>
      <app-parameters-list [showOnlySelected]="true"></app-parameters-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Поиск">
    <ng-template matTabContent>
      <app-parameters-list [showSearch]="true"></app-parameters-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
