:host {
  display: block;
  height: 100%;
  margin-top: 15px;
}

.search-control {
  width: 100%;
}

:host(.parameters-viewport_with-search) {
  height: calc(100vh - 120px);
}

.parameters-viewport {
  height: calc(100vh - 120px);
}

.parameter {
  display: flex;
  align-items: center;
  height: 40px;

  &__color-picker {
    flex-shrink: 0;
    width: 50px;
    height: 24px;
    margin-right: -20px;
    border: none;
    appearance: none;
    background: transparent;
  }

  &__name {
    display: block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
