<mat-form-field *ngIf="showSearch" class="search-control">
  <mat-label>Поиск по параметрам</mat-label>
  <input matInput [formControl]="searchFormControl" />
</mat-form-field>

<ng-container *ngIf="controls$ | async as controls">
  <ng-container *ngIf="controls.length > 0; else emptyList">
    <cdk-virtual-scroll-viewport itemSize="40" class="parameters-viewport">
      <div *cdkVirtualFor="let control of controls" [formGroup]="control" class="parameter">
        <!-- Form controls with the same formControlName do not work,-->
        <!-- even in different component instances. That's why we use [value] and [checked].-->
        <!-- See https://github.com/angular/angular/issues/13792-->
        <input
          matInput
          type="color"
          list="presetColors"
          formControlName="color"
          class="parameter__color-picker"
          [value]="control.value.color"
        />

        <datalist id="presetColors">
          <option *ngFor="let color of presetColors" [value]="color"></option>
        </datalist>

        <!-- Form controls with the same formControlName do not work,-->
        <!-- even in different component instances. That's why we use [value] and [checked].-->
        <!-- See https://github.com/angular/angular/issues/13792-->
        <mat-checkbox formControlName="selected" [checked]="control.value.selected">
          <span
            class="parameter__name"
            [matTooltip]="control.value.name"
            matTooltipPosition="right"
            [matTooltipShowDelay]="500"
          >
            {{ control.value.name }}
          </span>
        </mat-checkbox>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>

  <ng-template #emptyList>
    <p>{{ showSearch ? 'Параметры не найдены' : 'Параметры не выбраны' }}</p>
  </ng-template>
</ng-container>
