<table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{ 'background-color': element.color }"></td>
  </ng-container>

  <ng-container matColumnDef="parameterName">
    <th mat-header-cell *matHeaderCellDef>Имя параметра</th>
    <td mat-cell *matCellDef="let element">{{ element.parameterName }}</td>
  </ng-container>

  <ng-container matColumnDef="minimum">
    <th mat-header-cell *matHeaderCellDef>Минимум</th>
    <td mat-cell *matCellDef="let element">{{ element.minimum | number }}</td>
  </ng-container>

  <ng-container matColumnDef="maximum">
    <th mat-header-cell *matHeaderCellDef>Максимум</th>
    <td mat-cell *matCellDef="let element">{{ element.maximum | number }}</td>
  </ng-container>

  <ng-container matColumnDef="average">
    <th mat-header-cell *matHeaderCellDef>Среднее значение</th>
    <td mat-cell *matCellDef="let element">{{ element.average | number }}</td>
  </ng-container>

  <ng-container matColumnDef="expectedValue">
    <th mat-header-cell *matHeaderCellDef>Мат. ожидание</th>
    <td mat-cell *matCellDef="let element">{{ element.expectedValue | number }}</td>
  </ng-container>

  <ng-container matColumnDef="variance">
    <th mat-header-cell *matHeaderCellDef>Дисперсия</th>
    <td mat-cell *matCellDef="let element">{{ element.variance | number }}</td>
  </ng-container>

  <ng-container matColumnDef="sigma">
    <th mat-header-cell *matHeaderCellDef>Сигма</th>
    <td mat-cell *matCellDef="let element">{{ element.sigma | number }}</td>
  </ng-container>

  <ng-container matColumnDef="dimensionality">
    <th mat-header-cell *matHeaderCellDef>Размерность</th>
    <td mat-cell *matCellDef="let element">{{ element.dimensionality }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
