<form [formGroup]="menuFormGroup">
  <button mat-button [matMenuTriggerFor]="menu">Меню</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="zoning">Зонирование</button>
  </mat-menu>

  <mat-menu #zoning="matMenu">
    <mat-radio-group formControlName="zoning">
      <ng-container
        *ngTemplateOutlet="zoningButton; context: { title: 'Расставить графики', value: 1 }"
      ></ng-container>

      <ng-container
        *ngTemplateOutlet="zoningButton; context: { title: 'Совместить графики', value: 2 }"
      ></ng-container>

      <ng-template #zoningButton let-value="value" let-title="title">
        <button (click)="$event.stopPropagation()" mat-menu-item>
          <mat-radio-button class="radio-button" [value]="value">{{ title }}</mat-radio-button>
        </button>
      </ng-template>
    </mat-radio-group>
  </mat-menu>
</form>
